# Eclipse settings artifacts
.classpath
.project
.settings/
bin/
build/
build_exe/bte/
build_exe/copy_adm.bat
build_exe/islocked_adm.bat
build_exe/jarexp_admin.bat
build_exe/jarexp_orig.bat
build_exe/launch4j
lib/
www/jarexp/.htaccess
www/jarexp/downloads/*.zip
local.properties
resources/logging.properties
/settings.properties


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
resources/licenses.zip
