*{margin:0;padding:0}

body{font-size:11pt;font-family:'Segoe UI Light';font-weight:lighter;overflow:hidden}

#wrapper{float:left;width:100%;height:100%;}

#center{margin-left:400px;margin-right:20%;}

#left{
	float:left;
	width:400px;
	margin-left:-100%;
	background:linear-gradient(90deg, #ddd, transparent)
}

#right{
	float:left;
	width:20%;
	margin-left:-20%;
	height:100%;
	overflow:auto;
	background:linear-gradient(270deg, #ddd, transparent)
}

#logo {
	background-image:url("../img/logo.png");
	background-repeat:no-repeat;
	height:150px;
	float:left;
	width:150px;
}


ul{padding-left:10px;padding-right:10px}

h1{
font-weight:lighter;
font-size:3em;
text-align:left;
float:right;
margin-top:-55px;
margin-right:10px;
}

h2{
margin-top: 30px;
margin-bottom: 10px;
background:linear-gradient(90deg, #b1ceeb, transparent);
border-radius:0.25em;
padding-left:0.5em
}

h3{font-weight:lighter;}

#lang{float:right;margin-top:10px;margin-right:20px;}

#about{margin-left:10px}

#notfooter{overflow:auto;}

#footer{width:100%;height:40px;margin-left:10;font-size:smaller}

#news h3{font-weight:bold}

#downloads p{
padding-top:30px;
text-align:justify;
}

#downloads .dbtn{
	padding-top:30px;
	float:left;
	padding-left:40px;
}

.dbtn div{padding-top:0.5em}

#downloads .dwbtn{
background-image: URL(../img/wl.png);
background-repeat: no-repeat;
cursor:pointer;
color:black;
min-width:60px;
text-align:center;
padding:0px 10px 0px 10px;
display:inline-block;
text-decoration:none;
height:35px;
font-size:1.4em;
padding-left:45px;
padding-top:5px;
border-radius:0.25em
}
#downloads .dwbtn:hover{background-color:#c1e0ec;}

#downloads .dlbtn{
background-image: URL(../img/ll.png);
background-repeat: no-repeat;
cursor:pointer;
color:black;
min-width:60px;
text-align:center;
padding:0px 10px 0px 10px;
display:inline-block;
text-decoration:none;
height:35px;
font-size:1.4em;
padding-left:45px;
padding-top:5px;
border-radius:0.25em
}
#downloads .dlbtn:hover{background-color:#c1e0ec}

#downloads form{padding-top:2em}

.dlbtns{float:left;width:100%}

.dntbtn{
float:left;padding-top:60px
}

.info{padding-top:30px;padding-left:40px;padding-right:11em}

.info .text{
float:left;
padding-right:10px;
}
.text div{
padding-right:10px;
padding-left:10px;
padding-bottom:5px;
border-radius:5px;
background-color:#dbf1f9
}

.info .text p{
padding-top:0px !important;
}

.clr{clear:both}


